<table>
  <th><td>Name</td><td>Value</td></th>
  <%=
    attributes.map( function(attribute) {
      return "<tr><td>" + attribute.name + "</td><td>{{model." + attribute.name +"}}</td></tr>";
    }).join("\n  ")
  %>
</table> 

Belongs to:
<ul>
  <%=
    belongsToRelationships.map( function(relationship) {
      return "" +
        "  <li>\n" +
        "    {{#if model." + relationship.itemVar + "}}\n" +
        "      {{link-to \"" + relationship.name + "\" \"" + relationship.name + "\" model." + relationship.name + "}}\n" +
        "    {{else}}\n" +
        "      No " + relationship.itemVar + " set\n" +
        "    {{/if}}\n" +
        "  </li>"
    }).join("\n")
  %>
</ul>

Has many:
<table>
  <th><td>Relationship</td><td>Links</td></th>
<%=
    hasManyRelationships.map( function(relationship) {
      var itemVar = relationship.itemVar;
      var kind = relationship.kind;
      var name = relationship.name;
      return "" +
        "  <tr>\n" +
        "    {{#each model." + name + " as |" + itemVar + "|}}\n" +
        "      {{link-to " + itemVar + ".title \"" + kind + "\" " + itemVar + "}}\n" +
        "    {{/each}}\n" +
        "  </tr>\n"
    } ).join("")
  %></table>
