<div class="content">
  <h5><%= entityName %></h5>
  <div class="form">
    <%=
    attributes.map( function(attribute) {
      if(attribute.kind == "language-string-set") {
        return "<div class=\"row\"><div class=\"col s4\">" + attribute.name + "</div>"
    + "<div class=\"col s8\">"
    + "{{#each model." + attribute.itemVar + " as |label index|}}"
    + "<div class=\"row\">"
    + "<div class=\"col s8 field--location\">{{label.content}}</div>"
    + "<div class=\"col s4 field--language\">{{label.language}}</div>"
    + "</div>"
    + "{{/each}}</div></div>";
      }
      else {
        return "<div class=\"row\"><div class=\"col s12 m4\">" + attribute.name + "</div><div class=\"col s12 m8\">{{model." + attribute.itemVar +"}}</div></div>";
      }
    }).join("\n  ")
    %>

    <div class="row">
      <div class="col s12">
	{{#link-to "<%= entityName %>.edit" model.id class="btn btn--submit right"}}edit{{/link-to}}
      </div>
    </div>
  </div>
</div>
