<div class="properties__title">Gegevens</div>
<dl>
 {{#each-in props as |name value|}}
 {{#if value}}
    <dt class="properties__label">{{name}}</dt>
		<dd class="properties__data">{{component value.valueComponent content=value.content}}</dd>
	{{/if}}
	{{/each-in}}
 {{#each-in rels as |name value|}}
 {{#if value}}
    <dt class="properties__label">{{name}}</dt>
    {{display-model-relationship model=value.promise kind=value.kind itemRoute=value.itemRoute relType=value.type}}
	{{/if}}
	{{/each-in}}

</dl>
