{{#if (is-pending model)}}
  loading...
{{else}}
{{#each (await model) as |resource|}}
  {{#link-to itemRoute resource class="link--icon--caret"}}{{get resource configuredLabel}}{{/link-to}}
{{/each}}
	{{#if model}}
	<button {{action 'filterRelation'}}>&gt; {{t 'more'}}</button>
	{{/if}}
{{/if}}
