{{#if (is-pending model)}}
  loading...
{{else}}
{{#each (await model) as |resource|}}
  <li>{{#link-to itemRoute resource class="link--icon--caret"}}{{get resource configuredLabel}}{{/link-to}}</li>
{{/each}}
	{{#if model}}
	<button class="button" {{action 'filterRelation'}}>{{t 'more'}}</button>
	{{/if}}
{{/if}}
