<div class="content">
  <h2 class="h2">{{t '<%= entitiesName %>'}}</h2>
  {{data-table content=model fields="<%= attributes.map(function(a) {return a.itemVar}).join(" ") %>" sort=sort page=page link='<%= entitiesName %>.show' pagination='page'}}
</div>
